body {

    &::after,
    &::before {
        max-width: 1680px;
        left: calc(50% - 840px) !important;
    }
}

.wrapper {
    width: 100%;
    height: 100%;
    max-width: 1680px;
    margin: 0 auto;
    display: flex;
    border-left: 1px solid #dfe1e5;
    border-right: 1px solid #dfe1e5;

    .sidebar {
        width: 420px;
        height: 100%;
        background-color: #fff;
        border-right: 1px solid #dfe1e5;

        .search {
            padding: 8px 16px;
            display: flex;
            align-items: center;
            column-gap: 10px;
            margin-bottom: 20px;

            .options_btn {
                width: 40px;
                min-width: 40px;
                height: 40px;
                padding: 14px 11px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                border-radius: 50%;
                cursor: pointer;

                &:hover {
                    background-color: #f3f3f3;
                    transition: .2s;
                }

                span {
                    width: 100%;
                    height: 2px;
                    border-radius: 2px;
                    background-color: #707070;
                }
            }
        }

        .conversations {
            display: flex;
            width: 100%;
            height: calc(100% - 78px);
            flex-direction: column;
            row-gap: 12px;
            padding: 0 8px;
            overflow-y: scroll;

            .conversation {
                display: flex;
                flex-direction: row;
                align-items: center;
                column-gap: 8px;
                border-radius: 12px;
                padding: 8px;
                cursor: pointer;

                &.active {
                    background-color: rgb(51, 144, 236);

                    & * {
                        color: #fff;
                    }
                }

                .avatar {
                    width: 54px;
                    height: 54px;
                    min-width: 54px;
                    background-color: #8a8a8a;
                    border-radius: 50%;
                }

                .person {
                    display: flex;
                    flex-direction: column;
                    margin: 0;

                    p {
                        margin: 0;
                    }

                    width: calc(100% - 62px);

                    :nth-child(1) {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-bottom: 3px;

                        p {
                            font-weight: bold;
                        }

                        span {
                            font-size: 13px;
                            opacity: .7;
                        }
                    }

                    :nth-child(2) {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        overflow: hidden;

                        p {
                            width: max-content;
                            display: inline-block;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            word-wrap: break-word;
                            max-height: 1.15em;
                            line-height: 1.15em;
                            margin: 0 20px 0 0;
                        }

                        span {
                            font-weight: bold;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            color: #fff;
                            background-color: #b3b3b3;
                            padding: 5px 10px;
                            border-radius: 20px;
                        }
                    }
                }
            }
        }
    }

    .chat {
        width: 100%;
        height: 100%;
        position: relative;

        &__viewport {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            height: calc(100% - 86px);
            max-width: 628px;
            margin: 0 auto;
            background-color: transparent;
        }

        .peer_header {
            width: 100%;
            border-bottom: 1px solid #dfe1e5;
            background-color: #fff;
            padding: 12px 30px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .person {
                display: flex;
                align-items: center;
                column-gap: 8px;

                & * {
                    margin: 0;
                }

                & p {
                    font-weight: bold;
                    margin-bottom: 3px;
                }

                span {
                    font-size: 15px;
                    opacity: .9;
                }

                .avatar {
                    width: 45px;
                    height: 45px;
                    min-width: 45px;
                    background-color: #8a8a8a;
                    border-radius: 50%;
                }
            }
        }

        .messages {
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            margin: 10px 0;
            overflow-y: scroll;

            .message {
                background-color: #fff;
                max-width: 464px;
                padding: 5px 8px 6px 8px;
                border-radius: 0.375rem 0.9375rem 0.9375rem 0;
                box-shadow: 0 1px 2px rgb(114, 114, 114, 0.251);
                display: flex;

                p {
                    font-size: 16px;
                    margin: 0;
                }

                span {
                    font-size: 12px;
                    margin-left: 10px;
                    align-self: flex-end;
                }

                &.me {
                    background-color: rgb(238, 255, 222);
                    border-radius: 0.9375rem 0.375rem 0 0.9375rem;
                    margin-left: auto;
                }
            }

            .gobottom_btn {
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 56px;
                height: 56px;
                cursor: pointer;
                background-color: #fff;
                border-radius: 50%;
                right: 20px;
                bottom: 100px;
            }

            // Scrollbar hide
            &::-webkit-scrollbar {
                display: none;
            }
        }

        .input_wrapper {}
    }
}